@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111827; /* This is a dark gray color, you can choose any color you prefer */
    color: #fff; /* Set text color to white for better readability on dark background */
  }

  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

/* Add this CSS to your stylesheet (e.g., styles.css) */

.post-fade-in {
  opacity: 0; /* Initially, set the opacity to 0 */
  animation-name: fadeIn; /* Use the "fadeIn" animation */
  animation-duration: 0.5s; /* Set the animation duration */
  animation-fill-mode: forwards; /* Keep the final state after animation */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(.5px);
    transform: translateX(.5px);

  }
  50% {
    transform: translateY(-.5px);
    transform: translateX(-.5px);

  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.bounce-on-click:active {
  animation: bounce 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 (fully visible) */
  }
}
